In [117]:
import pandas as pd
Df=pd.read_excel('C:\\Users\\VBUDHEW\\Downloads\\Tiger Analytics - Case II\\Tiger Analytics - Case II\\Product Launch Dataset.xlsm',index='Product id')

In [118]:
Df.set_index('Product id',inplace=True)

In [119]:
Df

,Flavor,Market Subcategory,Launch Date,Country,Region,Positioning
Product id,,,,,,
1,"Herbs, not specified; Fruit, not specified",Other Soft Drinks,2001-01-01,WE1,West Europe,"Low Calorie, Natural"
2,"Fruit, not specified",Carbonates,2001-01-01,WE2,West Europe,Convenience - Consumption
3,Lemon; Honey; Ginger,Juice & Juice Drinks,2001-01-01,WE2,West Europe,"100% Not from Concentrate, Convenience - Consu..."
4,Mango; Passion Fruit,Juice & Juice Drinks,2001-01-01,WE2,West Europe,"100% Not from Concentrate, Convenience - Consu..."
5,Mango,Juice & Juice Drinks,2001-01-01,WE2,West Europe,"100% Not from Concentrate, Convenience - Consu..."
...,...,...,...,...,...,...
114685,"Berry, Wildberry",Other Soft Drinks,2010-01-01,NA1,North America,"Low Calorie, Energy/Alertness, Ethical - Packa..."
114686,"Raspberry, Not Specified",Other Soft Drinks,2010-01-01,NA1,North America,"Low Calorie, Energy/Alertness, Ethical - Packa..."
114687,"Tea, White",Iced Tea,2010-01-01,NA1,North America,"Antioxidant, Natural, Ethical - Packaging, Con..."
114688,"Tea, Green; Citrus, Not Specified",Iced Tea,2010-01-01,NA1,North America,"Antioxidant, Natural, Ethical - Packaging, Con..."
114689,"Cherry, Not Specified",Energy Drinks,2010-01-01,NA1,North America,"Kosher, Juice Drinks (up to 25% juice), Allerg..."

# Country Distribution of every Feature Analysis

In [120]:
Df.groupby('Region').count()

               Flavor  Market Subcategory  Launch Date  Country  Positioning
Region
Africa           4753                4790         4790     4790         4672
Asia            27141               27775        27775    27775        26875
Australasia      2323                2370         2370     2370         2313
East Europe     11265               11467        11467    11467        10761
Latin America    9237                9348         9348     9348         8937
Middle East      5566                5636         5636     5636         5464
North America   19662               20085        20085    20085        19534
West Europe     32766               33218        33218    33218        31821

# Focusing on North America

In [121]:
Df_l1=Df.loc[Df['Region']=='North America']
Df_l1.groupby(['Country']).count()

         Flavor  Market Subcategory  Launch Date  Region  Positioning
Country
NA1       17846               18240        18240   18240        17744
NA2        1815                1844         1844    1844         1789
NA3           1                   1            1       1            1

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib 
sns.set()
labels = [r'NA1 90.76%', r'9.18%', r'NA3 0.06%']
Df_l1.groupby(['Country']).count().Flavor.plot.pie(wedgeprops={'edgecolor': 'black'},shadow=True)
plt.legend(labels)

Using matplotlib backend: Qt5Agg

# Joining Flavor group to add visiblity

In [123]:
flavor_cat=pd.read_excel('C:\\Users\\VBUDHEW\\Downloads\\Tiger Analytics - Case II\\Tiger Analytics - Case II\\Flavour classification dataset.xlsm')
Df_l2=pd.merge(Df_l1,flavor_cat,how='left',on='Flavor')

In [137]:
group_distrubution_over_countries=pd.DataFrame(Df_l2.groupby(['Flavor_Group','Country']).count())

In [139]:
NA3_data=Df_l2.loc[Df_l2['Country']=='NA3']

In [140]:
NA3_data

,Flavor,Market Subcategory,Launch Date,Country,Region,Positioning,Flavor_Group
3139,"Ginger Beer; Rum, Not specified",Carbonates,2008-01-01,NA3,North America,"Traditional, Natural, Convenience - Consumption",NaN

In [142]:
NA1_data=Df_l2.loc[Df_l2['Country']=='NA1']
NA2_data=Df_l2.loc[Df_l2['Country']=='NA2']

In [415]:
values=NA1_data.groupby('Market Subcategory')['Flavor'].count()
clrs=['blue' if (x < max(values)) else 'orange' for x in values]
NA1_data.groupby('Market Subcategory')['Flavor'].count().plot.bar(fontsize=7,color=clrs)
plt.legend(['Flavor','Highest Flavor Number'])
plt.ylabel('Number of Types')
plt.xticks(rotation=330)
plt.title('NA1 Market Subcategory distribution over Flavors')

Text(0.5, 1.0, 'NA1 Market Subcategory distribution over Flavors')

In [258]:
JJD_NA1=NA1_data.loc[(NA1_data['Market Subcategory']=='Juice & Juice Drinks')]   ###This type has the most contribution in number of types of flavor
JJD_NA1.groupby('Launch Date')['Launch Date'].count().plot.bar(fontsize=7,zorder=1)
plt.xticks(rotation=340)
plt.ylabel('Number of Juice & Juice Drinks Drinks category product launch',fontsize=7)
plt.title('Distribution of product launch forJuice & Juice  Drinks with dates',fontsize=7)

Text(0.5, 1.0, 'Distribution of product launch forJuice & Juice  Drinks with dates')

In [257]:
DCM_NA1=NA1_data.loc[(NA1_data['Market Subcategory']=='Drink Concentrates & Mixes')]   ###2nd highest category with large flavors===> but not much information
DCM_NA1.groupby('Launch Date')['Launch Date'].count().plot.bar(fontsize=7,zorder=1)
plt.xticks(rotation=340)
plt.ylabel('Number of Juice & Juice Drinks Drinks category product launch',fontsize=7)
plt.title('Distribution of product launch for Drink Concentrates & Mixes dates',fontsize=7)

Text(0.5, 1.0, 'Distribution of product launch for Drink Concentrates & Mixes dates')

In [428]:
x=JJD_NA2.groupby('Flavor_Group').count()['Flavor']
plt.pie(x.values,wedgeprops={'edgecolor': 'black'},shadow=True)
plt.title('Distribution of Flovors in the NA1 for JJD')

Text(0.5, 1.0, 'Distribution of Flovors in the NA1 for JJD')

In [427]:
x

Flavor_Group
Brown Flavors       1
Flowers             2
Fruit             107
Herbs               1
Spices & Seeds      6
Tea               147
Unflavored          7
Name: Flavor, dtype: int64

In [317]:
JJD_pos_NA1 = JJD_NA1[JJD_NA1['Positioning'].notna()]
positioning=pd.read_excel('C:\\Users\\VBUDHEW\\Downloads\\Tiger Analytics - Case II\\Tiger Analytics - Case II\\Position category mapping dataset.xlsm')
JJD_pos_NA1.reset_index(inplace=True,drop=True)
for pos in range(len(positioning)):
    for rw in range(len(JJD_pos_NA1)):
        if positioning['Positioning Subcategory'].values[pos] in JJD_pos_NA1['Positioning'].values[rw]:
            JJD_pos_NA1.Positioning[JJD_pos_NA1.index==rw] = positioning['Positioning Group'].values[pos]

In [336]:
JJD_pos_NA1.groupby('Positioning')['Positioning'].count().plot.bar()
plt.xticks(rotation=340,fontsize=3)
plt.title('Number of Juice & Juice Drinks With respect to Position Group',fontsize=8)
plt.ylabel('Numbers of flavors/product in JJD',fontsize=8)

Text(0, 0.5, 'Numbers of flavors/product in JJD')

In [351]:
health_launch_JJD=JJD_pos_NA1.loc[JJD_pos_NA1['Positioning']=='Health (Passive)'].groupby('Launch Date').count()
plt.plot(health_launch_JJD.index,health_launch_JJD.Flavor)

In [356]:
plt.pie(health_launch_JJD['Flavor'],wedgeprops={'edgecolor': 'black'},shadow=True) #16.4,13.8
plt.title('Distribution of Flavors on years in JJD in health Positioning')

Text(0.5, 1.0, 'Distribution of Flavors on years in JJD in health Positioning')

In [357]:
health_launch_JJD

,Flavor,Market Subcategory,Country,Region,Positioning,Flavor_Group
Launch Date,,,,,,
2001-01-01,134,148,148,148,148,26
2002-01-01,156,158,158,158,158,40
2003-01-01,205,223,223,223,223,46
2004-01-01,260,260,260,260,260,47
2005-01-01,267,267,267,267,267,32
2006-01-01,201,201,201,201,201,36
2007-01-01,158,158,158,158,158,26
2008-01-01,182,182,182,182,182,80
2009-01-01,367,367,367,367,367,126
2010-01-01,308,308,308,308,308,90

In [419]:
values2=NA2_data.groupby('Market Subcategory')['Flavor'].count()
#clrs=['blue' if (x < max(values)) else 'orange' for x in values]
#NA2_data.groupby('Market Subcategory')['Flavor'].count()
plt.bar(values2.index,values2.values)
plt.bar(values1.index,values1.values)
plt.legend(['Flavor NA2'])
plt.ylabel('Number of Types')
plt.xticks(rotation=330)
plt.title('NA2 Market Subcategory distribution over Flavors')

Text(0.5, 1.0, 'NA2 Market Subcategory distribution over Flavors')

In [418]:
values1=NA2_data.groupby('Market Subcategory')['Flavor'].count()
#clrs=['blue' if (x < max(values)) else 'orange' for x in values]
NA1_data.groupby('Market Subcategory')['Flavor'].count().plot.bar(fontsize=7)#color=clrs)
plt.legend(['Flavor NA1'])
plt.ylabel('Number of Types')
plt.xticks(rotation=330)
plt.title('NA1 Market Subcategory distribution over Flavors')

Text(0.5, 1.0, 'NA1 Market Subcategory distribution over Flavors')

In [423]:
JJD_NA2=NA1_data.loc[(NA1_data['Market Subcategory']=='Iced Tea')]   ###This type has the most contribution in number of types of flavor
JJD_NA2.groupby('Launch Date')['Launch Date'].count().plot.bar(fontsize=7)
plt.xticks(rotation=340)
plt.ylabel('Number of Juice & Juice Drinks Drinks category product launch',fontsize=7)
plt.title('Distribution of product launch for Iced Tea with dates for NA1',fontsize=7)

Text(0.5, 1.0, 'Distribution of product launch for Iced Tea with dates for NA1')

In [394]:
for i in values1.index:
    if i not in values2.index:
        print(i)

Sports Others
Sports Supplements

In [399]:
x=JJD_NA2.groupby('Flavor_Group').count()['Flavor']
plt.pie(x.values,wedgeprops={'edgecolor': 'black'},shadow=True)
plt.title('Distribution of Flovors in the NA2 for JJD')

Text(0.5, 1.0, 'Distribution of Flovors in the NA2 for JJD')

In [400]:
JJD_pos_NA2 = JJD_NA2[JJD_NA2['Positioning'].notna()]
positioning=pd.read_excel('C:\\Users\\VBUDHEW\\Downloads\\Tiger Analytics - Case II\\Tiger Analytics - Case II\\Position category mapping dataset.xlsm')
JJD_pos_NA2.reset_index(inplace=True,drop=True)
for pos in range(len(positioning)):
    for rw in range(len(JJD_pos_NA2)):
        if positioning['Positioning Subcategory'].values[pos] in JJD_pos_NA2['Positioning'].values[rw]:
            JJD_pos_NA2.Positioning[JJD_pos_NA2.index==rw] = positioning['Positioning Group'].values[pos]

<ipython-input-400-a5ce1cf6ed60>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JJD_pos_NA2.Positioning[JJD_pos_NA2.index==rw] = positioning['Positioning Group'].values[pos]
C:\Users\VBUDHEW\.spyder-py3\NewAnaconda\lib\site-packages\pandas\core\generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [409]:
JJD_pos_NA2.groupby('Positioning')['Positioning'].count().plot.bar()
plt.xticks(rotation=340,fontsize=3)
plt.title('Number of Juice & Juice Drinks With respect to Position Group',fontsize=8)
plt.ylabel('Numbers of flavors/product in JJD',fontsize=8)

Text(0, 0.5, 'Numbers of flavors/product in JJD')

In [407]:
for j in JJD_pos_NA1['Positioning'].unique():
    if j not in JJD_pos_NA2['Positioning'].unique():
        print(j)

100% Reconstituted, Juice Drinks (up to 25% juice)
Juice Drinks (up to 25% juice), Juice Drinks (up to 25% juice)
100% Reconstituted, 100% Reconstituted
Supplements
Gender

In [411]:
JJD_pos_NA1['Positioning'].unique()

array(['Health (Passive)', 'Juice', 'Pleasure', 'Convenience', 'Age',
       'Seasonal/In-Out Products', 'Health (Active)',
       'Juice Drinks (up to 25% juice)', '100% Reconstituted', 'Others',
       '100% Reconstituted, Juice Drinks (up to 25% juice)',
       'Co-Branding',
       'Juice Drinks (up to 25% juice), Juice Drinks (up to 25% juice)',
       'Choice', '100% Reconstituted, 100% Reconstituted', 'Supplements',
       'Gender', 'Ethical'], dtype=object)